### Project Name - Rossman Retail Sales Forecasting

In [4]:
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as plt 
import math
import warnings
warnings.filterwarnings('ignore')

import sys
import os

sys.path.append(os.path.abspath('../')) 

from scripts.data.data_loading import *

# Loading Dataset

In [8]:
# Paths to the datasets
train_data_path = 'D:/Kifiya AI/rossman-sales-forecasting/data/train.csv'
test_data_path = 'D:/Kifiya AI/rossman-sales-forecasting/data/test.csv'
store_data_path = 'D:/Kifiya AI/rossman-sales-forecasting/data/store.csv'

try:
    train_data = load_dataset(train_data_path)
    test_data = load_dataset(test_data_path)
    store_data = load_dataset(store_data_path)

except Exception as e:
    print(f"Error loading datasets: {e}")

2024-09-20 16:46:08,315 - DataLoader - INFO - Attempting to load dataset from D:/Kifiya AI/rossman-sales-forecasting/data/train.csv
2024-09-20 16:46:10,169 - DataLoader - INFO - Successfully loaded dataset with 1017209 rows and 9 columns.
2024-09-20 16:46:10,170 - DataLoader - INFO - Attempting to load dataset from D:/Kifiya AI/rossman-sales-forecasting/data/test.csv
2024-09-20 16:46:10,330 - DataLoader - INFO - Successfully loaded dataset with 41088 rows and 8 columns.
2024-09-20 16:46:10,334 - DataLoader - INFO - Attempting to load dataset from D:/Kifiya AI/rossman-sales-forecasting/data/store.csv
2024-09-20 16:46:10,380 - DataLoader - INFO - Successfully loaded dataset with 1115 rows and 10 columns.

Dtaset view

In [9]:
train_data.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [10]:
test_data.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [11]:
store_data.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN

Rows and Col count

In [12]:
print(f'Shape of train dataset is :{train_data.shape}')
print(f'Dataset contains {train_data.index.value_counts().sum()} Rows')
print(f'Dataset contains {train_data.columns.value_counts().sum()} Columns')

Shape of train dataset is :(1017209, 9)
Dataset contains 1017209 Rows
Dataset contains 9 Columns

In [13]:
print(f'Shape of Store dataset is :{store_data.shape}')
print(f'Dataset contains {store_data.index.value_counts().sum()} Rows')
print(f'Dataset contains {store_data.columns.value_counts().sum()} Columns')

Shape of Store dataset is :(1115, 10)
Dataset contains 1115 Rows
Dataset contains 10 Columns